node_modules/
dist/
*.log
.DS_Store
android/.gradle/
android/.idea/
android/app/build/
android/app/.cxx/
android/build/
android/local.properties
*.apk
*.keystore
!android/app/debug.keystore
KEYSTORE_CREDENTIALS.txt
android/app/release/
